<%= partial(:header) %>

<form action="/" method="post">
  <ul>
    <li>
      <label for="email">Email:</label>
      <input type="email" name="email">
    </li>
    <li>
      <input type="submit" value="Send!">
    </li>
  </ul>
</form>

<%= partial(:footer) %>
