<%= partial(:header) %>

<form action="/" method="post">
  <ul>
    <li>
      <label for="email">Email:</label>
      <input type="email" name="email">
    </li>
    <li>
      <label for="interest">Interests:</label>
      <select name="interest">
        <option value="beer">Monks looking at beer</option>
        <option value="dudes">Really attractive men</option>
        <option value="rad">Radical stuff</option>
      </select>
    <li>
      <input type="submit" value="Send!">
    </li>
  </ul>
</form>

<%= partial(:footer) %>
